html {
    color-scheme: dark light;
    background:
        linear-gradient(
            65deg,
            rgb(100, 189, 234),
            rgb(10, 145, 249));
    background-size: cover;
    color: white;
    max-width: 1500px;
    margin: auto;
}
.title {
    font-size: 40px;
    text-shadow: 2px 2px rgb(10, 11, 11);
}
.logo {
    filter: drop-shadow(10px 5px black);
    width: 75px;
    opacity: 50%;
    border-radius: 30px 100px / 180px;
}
.top-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 5px 15px;
}
.a-no-underline {
    text-decoration: none;
    color: whitesmoke;
}
.a-color {
    color: whitesmoke;
    text-shadow: 2px 2px rgb(10, 35, 94);
    text-decoration-color: rgb(64, 235, 138);
    text-decoration-style: wavy;
}
.border-shadow {
    border-top: 3px solid white;
    border-bottom: 3px solid black;
    }

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 3px solid black;
    border-bottom: 3px solid white;
    padding: 10px;
    font: small-caps bold 24px/1 sans-serif;
    text-shadow: 2px 2px rgb(10, 11, 11);
}

a, p, h1, h2, h3, ul, li, img, label, select, button {
    margin: 0;
    padding: 7px;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
    max-width: 1000px;
    list-style-type: " ";
    color: whitesmoke;
    text-decoration: none;

}
.low-opacity-bg-image {
    --bg-image: url(images/pongohoodie.png);
    --bg-image-opacity: .15;

    display: grid;
    place-content: center;
    text-align: center;
    max-height: 600px;
    /* margin-top: 109px; */
    position: relative;
    isolation: isolate;
}
.low-opacity-bg-image::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: var(--bg-image-opacity);
    background-image: var(--bg-image);
    background-size: contain;
    background-position: top center;
}
.welcome-header {
    margin: 10px 50px;
    padding: 5px 20px 10px 20px;
    place-items: center;
}
.statement {
    padding: 10px
}
footer {
    position: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 60px;
}

/* @media only screen and (min-width: 768px) {
    .image-banner {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    .wrapper {
        width: 600px;
        margin: 0 auto;
    }
    button {
        background:
            linear-gradient(
                165deg,
                rgb(67, 123, 196),
                rgb(69, 16, 115));
        width: 100px;
        height: 25px;
        border-radius: 35%;
        font-size: 16px;
        font-family: 'Franklin Gothic Medium';
    }
} */

/* @media only screen and (min-width: 1000px) {
    .image-banner {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    button {
        background:
            linear-gradient(
                165deg,
                rgb(67, 123, 196),
                rgb(147, 116, 174));
        width: 250px;
        border-radius: 50%;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium';
    }
} */

/* logo Hover text to image css */
/* #logo-holder {position:relative; width: 150px;}
#logo-holder .text,
#logo-holder .image {transition: opacity 0.5s ease-in-out;}
#logo-holder .image {position: absolute; top:0; left: 0; opacity: 0;}
#logo-holder:hover .text {opacity:0;}
#logo-holder:hover .image {opacity: 1;} */

/* .hover-button {
    background:
        linear-gradient(
            165deg,
            rgb(96, 177, 231),
            rgb(154, 107, 195));
    width: 80px;
    height: 80px;
    color: rgb(67, 5, 90);
    border-radius: 10px 100px / 120px;
    font-size: 20px;
    font-family:  Cantarell;
    transition:
        font-size 2s,
        height 2s,
        border-radius 4s,
        transform 4s;
}
.hover-button:hover {
    width: 80px;
    height: 80px;
    font-size: 28px;
    border-radius: 50%;
    transform: rotate(360deg);
} */

/* .image-p-grid {
    content: ' ';
    display: block;
    text-align: left;
    float: left;
	margin-left: 60px;
	shape-outside:
        content-box circle(
            288px at 465px 349px );
    isolation: isolate;
}
.image-p-grid::before {
	content: ' ';
	float: right;
	background-image: url("pongohoodie.png");
	background-size: 100% 100%;
	width: 732px;
	height: 970px;
	margin: 50px 40px;
	shape-outside: content-box circle( 170px at 50% 50%);
} */

/* checked radio button background image change */
/* #spot{
    display: inherit;
    background: url(images/spotted.jpeg);p/;
    border-radius:  50% 0;
}
#brin{
    display: inherit;
    background: url(images/brindle.jpeg);
    border-radius:  50% 0;
}
#twot{
    display: inherit;
    background: url(images/twotoned.jpeg);
    border-radius:  50% 0;
}
#mult{
    display: inherit;
    background: url(images/multicolor.jpeg);
    border-radius:  50% 0;
}
#soli{
    display: inherit;
    background: url(images/spotted.jpeg);
    border-radius:  50% 0;
}
#cali{
    display: inherit;
    background: url(images/calico.jpeg);
    border-radius:  50% 0;
}
#tort{
    display: inherit;
    background: url(images/tourtousshell.jpeg);
    border-radius:  50% 0;
} */




/* .fieldlist input[type="radio"] {
    float: right;
    border: none;
    opacity: 0;
    width: 100%;
    display: block;
    float: left;
    border: 1px solid #333;
    background-size: 100%;
} */
